
body{
    background-color:rgb(238, 234, 226);
    padding: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 15px;
    

}
h1{
    text-align: center;
    padding-bottom: 10px;
}

img{
    width: 350px;
    border-radius: 10px;
}
div{
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
}
form{
    border-radius: 5px;
    padding: 20px;
   background: #4b4949;
   color: #fff;
   
}
button{
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    background-color: rgb(34, 112, 31);
    border: none;

}
.butt:hover{
    background: rgb(11, 70, 13);
}
input{
    border: none;
  border-radius: 10px; 
  padding:  7px;
}
.input :focus{
   color: aqua;
}