
body{
    padding: 0%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
h1{
    text-align: center;
    padding-bottom: 10px;
}

img{
    width: 330px;
    border-radius: 10px;
}
div{
    display: flex;
    flex-wrap: wrap;
}
form{
    padding: 40px;

    background: #3b3b3b;
    color: #fff;
}
button{
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    margin-left: 10px;
    background-color: rgb(34, 112, 31);

}
input{
  border-radius: 10px; 
  padding:  7px;
}